# Node.js specific
node_modules/
npm-debug.log
.npm/
.yarn/
tmp/

# Version control
.git/
.gitignore

# Operating system files
.DS_Store
Thumbs.db

# Build artifacts and temporary files
build/
dist/
*.log
*.tmp
